.dive-due-date {
    color: black;
    background-color: pink;
    box-shadow:0px 0px 0px 1px black inset;
}

.dive-due-date.dive-due-soon {
    color: red;
    font-weight: bold;
}

.dive-due-today::before,
.dive-due-soon::before,
.dive-column-label::before {
    /* Unicode Character 'CLOCK FACE TWO OCLOCK' (U+1F551) */
    /* Unicode Character 'NO-BREAK SPACE' (U+00A0) */
    content: "\01F551\00A0\00A0";
}

.dive-due-date.dive-due-today,
.dive-due-date.dive-due-past {
    color: red;
    font-weight: bold;
}

.dive-due-past::before {
    /* Unicode Character 'WARNING SIGN' (U+26A0) */
    /* Unicode Character 'NO-BREAK SPACE' (U+00A0) */
    content: "\26A0\00A0\00A0";
}